.h2_class{
    margin-bottom: 700px;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.card_rowA{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
}
.card_row{

    margin-bottom: 100px;
}
.announcement{
    align-items: center;
    width: 100%;
    text-align: center;

}

.GoBackButton{
    position: relative;
    margin-left: 90%;

}