.checkout{
    padding: 50px;
    height:max-content;
    
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    margin-bottom: 300px;
    
}
.amazon-checkout{
    background-color: #ececec;

}
.checkout_ad{
    width:50%;
    height:max-content;

}

.checkout_title{
    margin-right:10px;
    padding:10px;
    border-bottom:1px solid #ececec;
}

.checkout_right{
    margin-right: 10px;
    padding:10px;
}