.orders {
    padding: 50px;
    min-height: 400px;
    margin-top: -30px;
}

.order {

    border: 5px solid rgb(48, 45, 172);
    position: relative;
    padding: 60px;
    margin-top: 30px;
    background-color: white;
}

