.payment{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.payment_container > h1{
    text-align: center;
    background-color: #ececec;
    padding: 20px;
    font-weight: 500;
    border-bottom: 2px solid lightgray;
}

.payment_container > h1 a {
    text-decoration: none;
}

.payment_section {
    display: flex;
    margin: 0 20px;
    padding: 20px;
}

.payment_title {
    flex : 0.2;
}

.payment_address,.payment_items,.payment_details {
    flex : 0.8;
}